#game{

}
.center{
    text-align: center;
    justify-content: center;
}
.flex{
 display: flex;
 justify-content: center;
}
.main{
    width: 33%;
    display: flex;
    flex-wrap: wrap;
}
.adds{
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 5px solid #fffdf0;
    background-color: #EFF3EA;
    margin-right: 2cm;
}
.field{
    background-color: rgb(253, 247, 227);;
    height: 600px;
    border: 5px solid #fffdf0;
    width: 100%;
}
body{
    margin: 0px;
    background-color: #D9DFC6;
}
.header{
    padding: 30%;
}
.points{
    padding: 30px;
    border: 5px solid #fffdf0;
    background-color: #EFF3EA;
    justify-content: center;
    display: flex;
    width: 20%;
    margin-left: 2cm;
}
